@media print {
  /* Ocultar todo lo que NO sea el modal de factura */
  body * {
    visibility: hidden;
  }
  
  #factura-imprimir, #factura-imprimir * {
    visibility: visible;
  }
  
  /* Posicionar el contenido a imprimir al inicio de la página */
  #factura-imprimir {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 20px;
  }

  /* Ocultar bordes del modal y botones de cerrar durante impresión */
  .modal-footer, .modal-header, .btn-close {
    display: none !important;
  }
  
  .modal {
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
  }
}